// Skills.scss

.skills {
    margin: 20px;
    padding: 5px;
    color: green;
    height: 300px;
    background-color: lightblue;
    flex: 1;
  
    h2 {
      color: orange;
      text-align: center;
    }
  
    ul {
      list-style: none;
    }
  }
  