.todo-list{
    list-style-type: none;
}
.todo-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid gray;
    // padding: 20px;
}
.todo-list button{
  
    float: inline-end;
    background-color: red;
    color: white;
}
.todo-list-heading{
    margin-left: 40px;
}