.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #28a745;
}

.header-title {
    color: white;
}

.header-input {
    width: 30%;
    padding: 5px 10px;
}
