.body{
    width: 100%;
    height: 100%;
}
.parent-container{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 1800px;
    background-color: #fba4a6;
    // border: 2px solid black;
    justify-content: space-around;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // border: 2px solid red;
    height: 50px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 25px;
    
}
.coffee-container{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: start;
    // padding-left: 120px;
    color: white;
    // border: 2px solid blue;
}

.nav-content{
    flex: 1.3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // border: 2px solid black;
    color: white;
    // padding-right: ;

}

.body-container{
    display: flex;
    flex-direction: row;
    // border: 2px solid green;
    height: 700px;
    
}



.image-container{
    flex: 1;
    // border: 2px solid yellow;
}

.button {
    position: relative;
    background-color:#be5569;
    
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 200px;
    height: 60px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    
  }


  .content-container{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    align-items: flex-start;
    flex: 1;
    height: 450px;
    // border: 2px solid orange;
}

  .heading-container{
    display: flex;
    // align-items: center;
    flex:1;
    // border: 2px solid blue;
    font-size: 60px;
    color: white;
    padding-top: 50px;
    width: 500px;
    height: 50px;
    // margin: 0px;
    // padding-bottom: 40px;
    flex-direction: column;
    h1{
        
        margin: 0px;
        font-size: 60px;
    }
  }

  .theory-container{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex: 0.2;
    font-size: 20px;
    width: 500px;
    // border: 2px solid red;
    color: white;
    p{
        padding: 0px;
        margin: 0px;
    }
  }

  .button-container{
    display: flex;
    flex: 0.2;
    align-items: center;
    // border: 2px solid green;
    width: 400px;
    height: 100px

  }

