

p{
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    margin-bottom: 0;
}


.parent-container{
    display: flex;
    justify-content: space-around;
    justify-self: left;
}

.cloud-container{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;

}

.text-container{
    // display: flex;
    // justify-content: flex-start;

    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;

}






.image-container {
    display: flex;
    img{
        margin-right: 20px;
    }
    justify-content: space-around;
    
}

.degree-container{
    display: flex;
}


.light-color{
    color: rgb(99, 95, 95);
}





