// Hobbies.scss

.hobbies {
    margin: 20px;
    padding: 5px;
    color: green;
    background-color: lightgreen;
    flex: 1;
  
    h2 {
      color: orange;
      text-align: center;
    }
  
    ul {
      list-style: none;
    }
  }
  