.allrooms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.heading-top{
    background-color: orange;
    color: white;
}

.room{
    background-color: white;
}